#theme.blue-theme {
    background-color:rgb(57, 112, 151);
  }
  
#theme.blue-theme .btn {
    color: rgb(57, 112, 151);
}
  
#theme.blue-theme .blue-btn {
    background-color: rgba(0, 0, 0, 0.15);
}
  
#theme.blue-theme .green-btn,
#theme.blue-theme .red-btn {
    background-color: rgb(57, 112, 151, 0)
}
