#theme.red-theme {
    background-color:rgb(186, 73, 73);
  }
  
#theme.red-theme .btn {
    color: rgb(186, 73, 73);
}
  
#theme.red-theme .red-btn {
    background-color: rgba(0, 0, 0, 0.15);
}
  
#theme.red-theme .green-btn,
#theme.red-theme .blue-btn {
    background-color: rgb(186, 73, 73,0)
}