#theme {
    .blue-theme {
        background-color:rgb(57, 112, 151);

        .btn {
            color: rgb(57, 112, 151);
        }
          
        .blue-btn {
            background-color: rgba(0, 0, 0, 0.15);
        }
          
        .green-btn,
        .red-btn {
            background-color: rgb(57, 112, 151, 0)
        }
    }
}
