#theme{
    &.green-theme {
        background-color: rgb(56, 133, 138);
    
        .start-btn {
            color: rgb(56, 133, 138);
        }
    
        .green-btn {
            background-color: rgba(0, 0, 0, 0.15);
        }
    
        .blue-btn,
        .red-btn {
            background-color: rgb(56, 133, 138, 0);
        }
    }
}
   
  
 

  

