#theme {
    &.long-break-timer-btn {
        background-color:rgb(85, 159, 212);

        .start-btn {
            color: rgb(85, 159, 212);
        }
          
        .long-break-timer-btn {
            background-color: rgba(0, 0, 0, 0.15);
        }
          
        .pomodoro-timer-btn,
        .short-break-timer-btn {
            background-color: rgb(57, 112, 151, 0)
        }
    }
}
