// #theme{
//     &.short-break-timer-btn {
//         background-color: rgb(56, 133, 138);
    
//         .start-btn {
//             color: rgb(56, 133, 138);
//         }
    
//         .short-break-timer-btn {
//             background-color: rgba(0, 0, 0, 0.15);
//         }
    
//         .pomodoro-timer-btn,
//         .long-break-timer-btn {
//             background-color: rgb(56, 133, 138, 0);
//         }
//     }
// }
   
  
// .short-break-timer-btn {
//     background-color: rgb(56, 133, 138);
//     color: rgb(255, 255, 255);
// }

// .short-break-timer-btn .start-btn {
//     color: rgb(56, 133, 138);
// }

// .short-break-timer-btn:not(button) {
//     background-color: rgba(0, 0, 0, 0.15);
// }

// .short-break-timer-btn .pomodoro-timer-btn,
// .short-break-timer-btn .long-break-timer-btn {
//     background-color: rgba(56, 133, 138, 0);
// }

#theme.short-break-timer-btn {
    background-color: rgb(56, 133, 138);
}

#theme.short-break-timer-btn .start-btn {
    color: rgb(56, 133, 138);
}

#theme.short-break-timer-btn .short-break-timer-btn {
    background-color: rgba(0, 0, 0, 0.15);
}

#theme.short-break-timer-btn .pomodoro-timer-btn,
#theme.short-break-timer-btn .long-break-timer-btn {
    background-color: rgba(56, 133, 138, 0);
}
  

